# Run `read_med -med_file Lshape.med` to see original meshset IDs which will be
# used in [block_...]

[block_1]
# `Lshape` block - Add isotropic elastic material properties
id=100
add=BLOCKSET
name=MAT_ELASTIC
young=1
poisson=0.1

[block_2]
# `boundary` block - Add block and give it a specific name
id=110
add=BLOCKSET
name=BOUNDARY_CONDITION

#[block_2]
# `boundary` block - Add constraints to the block
#id=120
#add=NODESET 
#disp_flag1=1
#disp_ux=0.0
#disp_flag2=1
#disp_uy=0.0
#disp_flag3=1
#disp_uz=0.0