#ignore every file
*

#apart from:
!basic_finite_elements
!basic_finite_elements/**
!cmake
!cmake/**
!doc
!doc/**
!scripts
!scripts/**
!tools
!tools/**
!tutorials
!tutorials/**
!.gitignore
!CMakeLists.txt
!CTestConfig.cmake
!ModulesList.cmake
!*.in

.DS_Store
tutorials/.vscode/launch.json
basic_finite_elements/.vscode
tutorials/.vscode
tools/.vscode
