#ignore every file
*
#apart from:
!*/
!basic_finite_elements/**
!cmake/**
!doc/**
!scripts/**
!tools/**
!.gitignore
!CMakeLists.txt
!CTestConfig.cmake
!ModulesList.cmake

# Temorary files
_Store
*.swp
*.swo
*.swn
*.bak
.atom-build.json
.build-tools.cson
